/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
body {
  background-image: url("../img/bg.jpg");
  background-color: greenyellow;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html {
  font-size: 62.5%;
}
div.wrapper {
  width: 80%;
  margin: 0 auto;
}
header {
  height: 8vh;
}
header nav {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
header nav a {
  text-decoration: none;
  margin-top: 2%;
  background-color: rgba(216, 248, 185, 0.57);
  border-radius: 20px;
  padding: 0.5% 1%;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .intro {
    flex-direction: column-reverse;
  }
}
.intro .titles {
  background-color: rgba(216, 248, 185, 0.57);
  border-radius: 20px;
  padding: 0.5% 1%;
  height: 50%;
}
.intro .titles h1 {
  font-size: 3.2rem;
  font-family: 'Ubuntu', sans-serif;
}
.intro .titles h2 {
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}
.intro .titles p {
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}
.intro img.pic1 {
  border-radius: 50%;
  margin: 5%;
}
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0;
}
#about div {
  width: 48%;
}
#about div h3 {
  background-color: rgba(216, 248, 185, 0.57);
  border-radius: 20px;
  padding: 0.5% 1%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  width: 25%;
  text-align: center;
  margin-bottom: 2%;
}
#about div p {
  background-color: rgba(216, 248, 185, 0.57);
  border-radius: 20px;
  padding: 0.5% 1%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  line-height: 1.5;
}
#about div img {
  border-radius: 5%;
}
@media (max-width: 500px) {
  #about {
    flex-direction: column-reverse;
  }
  #about div {
    width: 100%;
  }
  #about div h3 {
    margin: 0 auto;
    width: 30%;
    margin-bottom: 2%;
  }
  #about div p {
    margin-bottom: 4%;
  }
}
.skills {
  display: flex;
  justify-content: space-between;
}
.skills h3 {
  background-color: rgba(216, 248, 185, 0.57);
  border-radius: 20px;
  padding: 0.5% 1%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  margin-bottom: 3%;
  width: 23%;
  text-align: center;
}
.skills #list {
  width: 38%;
}
.skills #list ul {
  background-color: rgba(216, 248, 185, 0.57);
  border-radius: 20px;
  padding: 0.5% 1%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  list-style-type: circle;
  line-height: 2;
  padding-left: 10%;
}
.skills #table {
  width: 58%;
}
.skills #table table {
  background-color: rgba(216, 248, 185, 0.57);
  border-radius: 20px;
  padding: 0.5% 1%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  width: 100%;
  line-height: 2;
}
.skills #table table th {
  text-align: left;
  border-bottom: 2px dotted black;
}
.skills #table table th,
.skills #table table td {
  padding-left: 3%;
}
@media (max-width: 500px) {
  .skills {
    flex-direction: column;
  }
  .skills h3 {
    margin: 3% auto;
  }
  .skills #list {
    width: 100%;
    margin-bottom: 3%;
  }
  .skills #table {
    width: 100%;
  }
}
footer {
  margin: 5% auto;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}
